A_jovidic/web/files/schemaEbMs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebxml.org/namespaces/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="From">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartyId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="To">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartyId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="CPAId"/>
        <xs:element type="xs:short" name="ConversationId"/>
        <xs:element type="xs:string" name="Service"/>
        <xs:element type="xs:string" name="Action"/>
        <xs:element name="MessageData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="MessageId"/>
              <xs:element type="xs:string" name="Timestamp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="soapenv:actor" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Reference">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description"/>
            </xs:sequence>
            <xs:attribute ref="xlin:href" xmlns:xlin="http://www.w3.org/1999/xlink"/>
            <xs:attribute ref="xlin:type" xmlns:xlin="http://www.w3.org/1999/xlink"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>