A_jovidic/web/WEB-INF/wsdl/localhost_9754/A_jovidic/EbMsWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.ebxml.hr.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.ebxml.hr.foi.org/">

<xs:element name="createAndSend" type="tns:createAndSend"/>

<xs:element name="createAndSendResponse" type="tns:createAndSendResponse"/>

<xs:complexType name="createAndSend">
<xs:sequence>
<xs:element name="from" type="xs:string" minOccurs="0"/>
<xs:element name="to" type="xs:string" minOccurs="0"/>
<xs:element name="cpaId" type="xs:string" minOccurs="0"/>
<xs:element name="services" type="xs:string" minOccurs="0"/>
<xs:element name="action" type="xs:string" minOccurs="0"/>
<xs:element name="msgData" type="xs:string" minOccurs="0"/>
<xs:element name="conversationId" type="xs:string" minOccurs="0"/>
<xs:element name="timestamp" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAndSendResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>